{% extends 'base.html.twig' %}

{% block title %}Classes
{% endblock %}

{% block body %}
    <h1 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Liste des élèves de la :
        {{ class }}</h1>

    {% include 'eleves/liste.html.twig' with {eleves} %}

    {#<a href="{{ path('app_eleves_new') }}">Create new</a>#}

    <a class="btn btn-primary btn-sm" href="{{ path('app_eleves_index') }}">Retour</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_classes_edit', {'slug': class.slug}) }}">édition</a>

    {{ include('classes/_delete_form.html.twig') }}

{% endblock %}
