<table class="table table-sm table-responsive-sm table-hover">
    <div class="count fst-italic">
        Effectif :
        <span class="text-danger ">{{ eleves.getTotalItemCount }}</span>
        élèves
    </div>
    <thead>
        <tr>
            {#<th>Id</th>#}
            <th>Nom et Prénom</th>
            {% if app.request.attributes.get('_route')!= 'app_classes_show' %}
                <th>Classe</th>
            {% endif %}
            {% if app.request.attributes.get('_route')!= 'app_statuts_show' %}
                <th>Statut</th>
            {% endif %}
            <th>Inscrit(e) le</th>
            {% if app.request.attributes.get('_route')!= 'app_departements_show' %}
                <th>Département</th>
            {% endif %}
            {% if app.request.attributes.get('_route')!= 'app_recrutement_show' %}
                <th>Recruté(e) à :</th>
            {% endif %}
            {% if app.request.attributes.get('_route')!= 'app_an_dernier_show' %}
                <th>
                    Etait à:</th>
            {% endif %}
            {% if app.request.attributes.get('_route')== 'app_classes_show' or app.request.attributes.get('_route')== 'app_statuts_show'
            or app.request.attributes.get('_route')== 'app_departements_show' or app.request.attributes.get('_route')== 'app_recrutement_show'
            or app.request.attributes.get('_route')== 'app_an_dernier_show' %}
                <th>lieu de Naisance</th>
            {% endif %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for elefe in eleves %}
            <tr>
                {#<td>{{ elefe.id }}</td>#}
                {% if elefe.sexe == 'Masculin' %}
                    {#<td>{{ elefe.imageName }}</td>#}
                    <td>
                        <a class="text-decoration-none" href="{{ path('app_eleves_show', {'slug': elefe.slug}) }}">{{ elefe.fullName }}</a>
                    </td>
                    {#<td>{{ elefe.isEnregistrer ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_classes_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_classes_show', {'slug': elefe.classe.slug}) }}">{{ elefe.classe }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isAdmis ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_statuts_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_statuts_show', {'slug': elefe.statut.slug}) }}">{{ elefe.statut }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isActif ? 'Yes' : 'No' }}</td>#}
                    <td>{{ elefe.dateInscription ? elefe.dateInscription|date('d-m-Y') : '' }}</td>
                    {#<td>{{ elefe.isHandicap ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_departements_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_departements_show', {'slug': elefe.departement.slug}) }}">{{ elefe.departement }}</a>
                        </td>
                    {% endif %}
                    {% if app.request.attributes.get('_route')!= 'app_recrutement_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_recrutement_show', {'slug': elefe.ecoleRecrutement.slug}) }}">{{ elefe.ecoleRecrutement }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.dateRecrutement ? elefe.dateRecrutement|date('d-m-Y') : '' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_an_dernier_show' %}
                        <td>
                            {% if elefe.ecoleAnDernier is not null %}
                                <a class="text-decoration-none" href="{{ path('app_an_dernier_show', {'slug': elefe.ecoleAnDernier.slug}) }}">{{ elefe.ecoleAnDernier }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.statutFinance }}</td>#}
                    {% if app.request.attributes.get('_route')== 'app_classes_show' or app.request.attributes.get('_route')== 'app_statuts_show'
            or app.request.attributes.get('_route')== 'app_departements_show'or app.request.attributes.get('_route')== 'app_recrutement_show'
            or app.request.attributes.get('_route')== 'app_an_dernier_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_lieu_naissances_show', {'slug': elefe.lieuNaissance.slug}) }}">{{ elefe.lieuNaissance }}</a>

                        </td>
                    {% endif %}

                    <td>
                        <a href="{{ path('app_eleves_edit', {'slug': elefe.slug}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                {% else %}
                    {#<td>{{ elefe.imageName }}</td>#}
                    <td>
                        <a class="text-danger text-decoration-none" href="{{ path('app_eleves_show', {'slug': elefe.slug}) }}">{{ elefe.fullName }}</a>
                    </td>
                    {#<td>{{ elefe.isEnregistrer ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_classes_show' %}
                        <td>
                            <a class="text-danger text-decoration-none" href="{{ path('app_classes_show', {'slug': elefe.classe.slug}) }}">{{ elefe.classe }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isAdmis ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_statuts_show' %}
                        <td>
                            <a class="text-danger text-decoration-none" href="{{ path('app_statuts_show', {'slug': elefe.statut.slug}) }}">{{ elefe.statut }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isActif ? 'Yes' : 'No' }}</td>#}
                    <td class="text-danger ">{{ elefe.dateInscription ? elefe.dateInscription|date('d-m-Y') : '' }}</td>
                    {#<td>{{ elefe.isHandicap ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_departements_show' %}
                        <td>
                            <a class="text-danger text-decoration-none" href="{{ path('app_departements_show', {'slug': elefe.departement.slug}) }}">{{ elefe.departement }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.natureHandicap }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_recrutement_show' %}
                        <td class="text-danger ">
                            <a class="text-danger text-decoration-none" href="{{ path('app_recrutement_show', {'slug': elefe.ecoleRecrutement.slug}) }}">{{ elefe.ecoleRecrutement }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.dateRecrutement ? elefe.dateRecrutement|date('d-m-Y') : '' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_an_dernier_show' %}
                        <td class="text-danger ">
                            {% if elefe.ecoleAnDernier is not null %}
                                <a class="text-danger text-decoration-none" href="{{ path('app_an_dernier_show', {'slug': elefe.ecoleAnDernier.slug}) }}">{{ elefe.ecoleAnDernier }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.statutFinance }}#}
                    {% if app.request.attributes.get('_route')== 'app_classes_show' or app.request.attributes.get('_route')== 'app_statuts_show'
            or app.request.attributes.get('_route')== 'app_departements_show'or app.request.attributes.get('_route')== 'app_recrutement_show'
            or app.request.attributes.get('_route')== 'app_an_dernier_show' %}
                        <td class="text-danger ">
                            <a class="text-danger text-decoration-none" href="{{ path('app_lieu_naissances_show', {'slug': elefe.lieuNaissance.slug}) }}">{{ elefe.lieuNaissance }}</a>
                        </td>
                    {% endif %}

                </td>
                <td>
                    <a href="{{ path('app_eleves_edit', {'slug': elefe.slug}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            {% endif %}

        </tr>
    {% else %}
        <tr>
            <td colspan="21">no records found</td>
        </tr>
    {% endfor %}
</tbody></table><div class="container">
<div class="row">
    <div class="d-flex align-items-center justify-content-center">
        {{ knp_pagination_render(eleves) }}</div>
</div></div>
