<table class="table">
    <div class="count fst-italic">
        Effectif :
        <span class="text-danger ">{{ eleves.getTotalItemCount }}</span>
        élèves
    </div>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom et Prénom</th>
            {% if app.request.attributes.get('_route')!= 'app_classes_show' %}
                <th>Classe</th>
            {% endif %}
            {% if app.request.attributes.get('_route')!= 'app_statuts_show' %}
                <th>Statut</th>
            {% endif %}
            <th>Inscrit(e) le</th>
            {% if app.request.attributes.get('_route')!= 'app_departements_show' %}
                <th>Département</th>
            {% endif %}
            <th>Fils/Fille de</th>
            <th>et de
            </th>
            {% if app.request.attributes.get('_route')== 'app_classes_show' or app.request.attributes.get('_route')== 'app_statuts_show'
            or app.request.attributes.get('_route')== 'app_departements_show' %}
                <th>lieu de Naisance</th>
            {% endif %}
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for elefe in eleves %}
            <tr>
                <td>{{ elefe.id }}</td>
                {% if elefe.sexe == 'Masculin' %}
                    {#<td>{{ elefe.imageName }}</td>#}
                    <td>{{ elefe.fullName }}</td>
                    {#<td>{{ elefe.isEnregistrer ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_classes_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_classes_show', {'slug': elefe.classe.slug}) }}">{{ elefe.classe }}</a>

                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isAdmis ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_statuts_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_statuts_show', {'slug': elefe.statut.slug}) }}">{{ elefe.statut }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isActif ? 'Yes' : 'No' }}</td>#}
                    <td>{{ elefe.dateInscription ? elefe.dateInscription|date('d-m-Y') : '' }}</td>
                    {#<td>{{ elefe.isHandicap ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_departements_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_departements_show', {'slug': elefe.departement.slug}) }}">{{ elefe.departement }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.natureHandicap }}</td>#}
                    <td>{{ elefe.parent.pere.fullname }}</td>
                    {#<td>{{ elefe.dateRecrutement ? elefe.dateRecrutement|date('d-m-Y') : '' }}</td>#}
                    <td>{{ elefe.parent.mere.fullname }}</td>
                    {#<td>{{ elefe.statutFinance }}</td>#}
                    {% if app.request.attributes.get('_route')== 'app_classes_show' or app.request.attributes.get('_route')== 'app_statuts_show'
            or app.request.attributes.get('_route')== 'app_departements_show' %}
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_lieu_naissances_show', {'slug': elefe.lieuNaissance.slug}) }}">{{ elefe.lieuNaissance }}</a>

                        </td>
                    {% endif %}

                    <td>
                        <a href="{{ path('app_eleves_show', {'slug': elefe.slug}) }}">
                            show</a>
                        <a href="{{ path('app_eleves_edit', {'slug': elefe.slug}) }}">edit</a>
                    </td>
                {% else %}
                    {#<td>{{ elefe.imageName }}</td>#}
                    <td class="text-danger ">{{ elefe.fullName }}</td>
                    {#<td>{{ elefe.isEnregistrer ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_classes_show' %}
                        <td>
                            <a class="text-danger text-decoration-none " href="{{ path('app_classes_show', {'slug': elefe.classe.slug}) }}">{{ elefe.classe }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isAdmis ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_statuts_show' %}
                        <td>
                            <a class="text-danger text-decoration-none" href="{{ path('app_statuts_show', {'slug': elefe.statut.slug}) }}">{{ elefe.statut }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.isActif ? 'Yes' : 'No' }}</td>#}
                    <td class="text-danger ">{{ elefe.dateInscription ? elefe.dateInscription|date('d-m-Y') : '' }}</td>
                    {#<td>{{ elefe.isHandicap ? 'Yes' : 'No' }}</td>#}
                    {% if app.request.attributes.get('_route')!= 'app_departements_show' %}
                        <td>
                            <a class="text-danger text-decoration-none" href="{{ path('app_departements_show', {'slug': elefe.departement.slug}) }}">{{ elefe.departement }}</a>
                        </td>
                    {% endif %}
                    {#<td>{{ elefe.natureHandicap }}</td>#}
                    <td class="text-danger ">{{ elefe.parent.pere.fullname }}</td>
                    {#<td>{{ elefe.dateRecrutement ? elefe.dateRecrutement|date('d-m-Y') : '' }}</td>#}
                    <td class="text-danger ">{{ elefe.parent.mere.fullname }}</td>
                    {#<td>{{ elefe.statutFinance }}#}
                    {% if app.request.attributes.get('_route')== 'app_classes_show' or app.request.attributes.get('_route')== 'app_statuts_show'
            or app.request.attributes.get('_route')== 'app_departements_show' %}
                        <td class="text-danger ">
                            <a class="text-danger text-decoration-none" href="{{ path('app_lieu_naissances_show', {'slug': elefe.lieuNaissance.slug}) }}">{{ elefe.lieuNaissance }}</a>
                        </td>
                    {% endif %}

                </td>
                <td>
                    <a href="{{ path('app_eleves_show', {'slug': elefe.slug}) }}">
                        show</a>
                    <a href="{{ path('app_eleves_edit', {'slug': elefe.slug}) }}">edit</a>
                </td>
            {% endif %}

        </tr>
    {% else %}
        <tr>
            <td colspan="21">no records found</td>
        </tr>
    {% endfor %}
</tbody></table><div class="container">
<div class="row">
    <div class="d-flex align-items-center justify-content-center">
        {{ knp_pagination_render(eleves) }}</div>
</div></div>
