{% extends 'base.html.twig' %}

{% block title %}Peres index
{% endblock %}

{% block body %}
    <h1>Peres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Porfession</th>
                <th>Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pere in peres %}
                <tr>
                    <td>{{ pere.fullname }}</td>
                    <td>{{ pere.profession }}</td>
                    <td>{{ pere.telephone }}</td>
                    <td>
                        <a href="{{ path('app_peres_show', {'slug': pere.slug}) }}">show</a>
                        <a href="{{ path('app_peres_edit', {'slug': pere.slug}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_peres_new') }}">Create new</a>
{% endblock %}
