{% extends 'base.html.twig' %}

{% block title %}Père
{% endblock %}

{% block body %}
    <h1 class="fst-italic text-center bg-warning-subtle bg-opacity-75">Informations sur
        {{ pere }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom et Prénom</th>
                <td>{{ pere.fullname }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ pere.profession.designation }}</td>
            </tr>
            <tr>
                <th>Mère(s)</th>
                <td>
                    <div class="row">
                        {% for parent in pere.parents %}
                            <div class="col-md-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <a class="text-decoration-none" href="{{ path('app_meres_show', { 'slug': parent.mere.slug }) }}">
                                            {{ parent.mere.fullname }}
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Nom de l'élève</th>
                                                    <th>Classe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for eleve in parent.eleves %}
                                                    <tr class="table-link" data-href="{{ path('app_eleves_show', { 'slug': eleve.slug }) }}">
                                                        <td>{{ eleve.fullname }}</td>
                                                        <td>{{ eleve.classe }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-sm" href="{{ path('app_parents_index') }}">Retour à la liste</a>

    <a class="btn btn-primary btn-sm" href="{{ path('app_peres_edit', {'slug': pere.slug}) }}">Modifier</a>

    {{ include('peres/_delete_form.html.twig') }}
{% endblock %}
