{% extends 'base.html.twig' %}

{% block title %}FraisScolarites index
{% endblock %}

{% block body %}
    <h1>FraisScolarites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Elève</th>
                <th>Classe</th>
                <th>Arriéré</th>
                <th>Inscription</th>
                <th>Carnet</th>
                <th>Sept</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Déc</th>
                <th>Janv</th>
                <th>Fév</th>
                <th>Mars</th>
                <th>Avr</th>
                <th>Mai</th>
                <th>Jui</th>
                <th>Autre</th>
                <th>Trans</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for frais_scolarite in frais_scolarites %}
                <tr>
                    <td>{{ frais_scolarite.id }}</td>
                    <td>{{ frais_scolarite.eleve }}</td>
                    <td>{{ frais_scolarite.eleve.classe }}</td>
                    <td>{{ frais_scolarite.fraisScolaires.designation }}</td>
                    <td>{{ frais_scolarite.fraisScolaires.montant }}</td>

                    <!-- ... (autres cellules de données) ... -->
                    <td>{{ frais_scolarite.montant }}</td>
                    <td>
                        <td>
                            <a href="{{ path('app_frais_scolarites_show', {'id': frais_scolarite.id}) }}">show</a>
                            <a href="{{ path('app_frais_scolarites_edit', {'id': frais_scolarite.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_frais_scolarites_new') }}">Create new</a>
    {% endblock %}
