{% extends 'base.html.twig' %}

{% block title %}FraisScolarites{% endblock %}

{% block body %}
    <h1>FraisScolarites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frais_scolarite.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ frais_scolarite.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_frais_scolarites_index') }}">back to list</a>

    <a href="{{ path('app_frais_scolarites_edit', {'id': frais_scolarite.id}) }}">edit</a>

    {{ include('frais_scolarites/_delete_form.html.twig') }}
{% endblock %}
